body {
  overflow-x: hidden; }
  @media (min-width: 768px) {
    body {
      /*background: yellow;*/ } }

.cursor {
  --size: 20px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  pointer-events: none; }

.cursor.cursor-shadow {
  background: #FF5252;
  transition: top .25s, left .25s, width .5s, height .5s, background .15s;
  transition-timing-function: ease-out; }

.cursor.cursor-shadow2 {
  display: none;
  background: #FF5252;
  transition: top .50s, left .50s, width .10s, height .10s, background .70s;
  transition-timing-function: ease-out; }

.cursor.cursor-dot {
  /*background: #FF5252;*/
  transition: width .25s, height .25s; }

.cursor-shadow.active {
  --size: 80px;
  z-index: -1;
  /*   transition:all 0.2s ease; */ }

.cursor-shadow2.active {
  --size: 0px;
  /*   transition:all 0.2s ease; */ }

.cursor-dot.active {
  --size: 0; }

/** ELEMENTS EFFECT **/
[class*=link-] {
  transition: all ease var(--duration);
  -webkit-user-select: none;
  user-select: none; }

[class*=link-]:hover {
  /*opacity: .3;*/
  color: #fff; }

h1 {
  font-size: 34px;
  line-height: 42px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 42px;
      line-height: 48px; } }
  @media (min-width: 1280px) {
    h1 {
      font-size: 42px;
      line-height: 48px; } }
  @media (min-width: 1440px) {
    h1 {
      font-size: 60px;
      line-height: 68px; } }
  @media (min-width: 1600px) {
    h1 {
      font-size: 96px;
      line-height: 106px; } }

h2 {
  font-size: 28px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0 0 16px 0; }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px;
      padding: 0 0 24px 0; } }
  @media (min-width: 1440px) {
    h2 {
      font-size: 42px;
      padding: 0 0 40px 0; } }

h3 {
  font-size: 21px;
  font-family: "Replica-Bold", sans-serif !important;
  font-weight: 700;
  margin: 0px;
  overflow: visible;
  padding: 0 0 20px 0; }
  @media (min-width: 768px) {
    h3 {
      font-size: 32px;
      padding: 0 0 24px 0; } }

h4 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0px;
  overflow: visible;
  padding: 20px 0; }
  @media (min-width: 768px) {
    h4 {
      font-size: 26px;
      padding: 24px 0; } }

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0px; }
  @media (min-width: 768px) {
    p {
      font-size: 16px;
      line-height: 28px; } }
  @media (min-width: 1280px) {
    p {
      line-height: 34px; } }
  @media (min-width: 1440px) {
    p {
      font-size: 18px; } }
  @media (min-width: 1600px) {
    p {
      font-size: 21px; } }

hr {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  list-style: none; }
  @media (min-width: 768px) {
    ul {
      font-size: 16px;
      line-height: 28px; } }
  @media (min-width: 1280px) {
    ul {
      line-height: 34px; } }
  @media (min-width: 1440px) {
    ul {
      font-size: 18px; } }
  @media (min-width: 1600px) {
    ul {
      font-size: 21px; } }

ul li {
  margin-bottom: 20px; }
  @media (min-width: 1280px) {
    ul li {
      margin-bottom: 16px; } }
  @media (min-width: 1440px) {
    ul li {
      margin-bottom: 20px; } }

ul li::before {
  content: "\2022";
  color: #4BA8F5;
  font-weight: bold;
  display: inline-block;
  width: .8em;
  margin-left: -.8em; }
  @media (min-width: 768px) {
    ul li::before {
      width: 1em;
      margin-left: -1em; } }

.wf-grid {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0px;
  opacity: 0.06; }
  .wf-grid .grid-line {
    position: absolute;
    background: #000;
    width: 1px;
    height: 100%; }
  .wf-grid .wf-grid-left-out {
    display: none; }
    @media (min-width: 1280px) {
      .wf-grid .wf-grid-left-out {
        display: block;
        left: 50%;
        margin-left: -620px; } }
    @media (min-width: 1440px) {
      .wf-grid .wf-grid-left-out {
        margin-left: -700px; } }
    @media (min-width: 1600px) {
      .wf-grid .wf-grid-left-out {
        margin-left: -940px; } }
  .wf-grid .wf-grid-left-mid {
    left: 0px;
    margin-left: 10px; }
    @media (min-width: 768px) {
      .wf-grid .wf-grid-left-mid {
        left: 0px;
        margin-left: 15px; } }
    @media (min-width: 1280px) {
      .wf-grid .wf-grid-left-mid {
        left: 50%;
        margin-left: -304px; } }
    @media (min-width: 1440px) {
      .wf-grid .wf-grid-left-mid {
        margin-left: -344px; } }
    @media (min-width: 1600px) {
      .wf-grid .wf-grid-left-mid {
        margin-left: -464px; } }
  .wf-grid .wf-grid-center {
    left: 50%;
    margin-left: -.5px; }
  .wf-grid .wf-grid-right-mid {
    right: 0px;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .wf-grid .wf-grid-right-mid {
        right: 0px;
        margin-right: 15px; } }
    @media (min-width: 1280px) {
      .wf-grid .wf-grid-right-mid {
        right: 50%;
        margin-right: -304px; } }
    @media (min-width: 1440px) {
      .wf-grid .wf-grid-right-mid {
        margin-right: -344px; } }
    @media (min-width: 1600px) {
      .wf-grid .wf-grid-right-mid {
        margin-right: -464px; } }
  .wf-grid .wf-grid-right-out {
    display: none; }
    @media (min-width: 1280px) {
      .wf-grid .wf-grid-right-out {
        display: block;
        right: 50%;
        margin-right: -620px; } }
    @media (min-width: 1440px) {
      .wf-grid .wf-grid-right-out {
        margin-right: -700px; } }
    @media (min-width: 1600px) {
      .wf-grid .wf-grid-right-out {
        margin-right: -940px; } }

.top-header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 0px; }
  .top-header .navigation {
    position: relative;
    width: 100%;
    /*max-width:1920px;*/
    padding: 24px 20px; }
    @media (min-width: 768px) {
      .top-header .navigation {
        padding: 40px 30px; } }
    @media (min-width: 1280px) {
      .top-header .navigation {
        padding: 40px 40px; } }
    @media (min-width: 1440px) {
      .top-header .navigation {
        padding: 40px 40px; } }
    @media (min-width: 1600px) {
      .top-header .navigation {
        padding: 40px 40px; } }
    .top-header .navigation .wf-logo {
      width: 123px;
      height: 18px;
      cursor: pointer; }
      @media (min-width: 768px) {
        .top-header .navigation .wf-logo {
          width: 246px;
          height: 36px; } }
  .top-header .menu {
    display: none; }
    @media (min-width: 768px) {
      .top-header .menu {
        display: block;
        padding: 40px 30px; } }
    @media (min-width: 1280px) {
      .top-header .menu {
        display: block;
        padding: 40px 40px; } }
    .top-header .menu ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      list-style: none; }
      .top-header .menu ul li {
        margin-left: 40px;
        cursor: pointer; }
    .top-header .menu ul li::before {
      display: none; }
    .top-header .menu ul li:hover {
      border-bottom: 3px solid; }
    .top-header .menu .link-active {
      border-bottom: 3px solid; }
  .top-header .menu-hamburger {
    padding: 22px 20px; }
    @media (min-width: 768px) {
      .top-header .menu-hamburger {
        display: none; } }
  .top-header .mobile-close {
    display: none;
    position: absolute;
    background: url(../img/close-icon.svg) no-repeat;
    background-size: contain;
    background-position: center center;
    width: 14px;
    height: 14px;
    right: 0px;
    margin: 25px 20px; }

.copyrite {
  position: fixed;
  bottom: 13px;
  right: 10.5px;
  font-size: 9px;
  opacity: .8;
  transform: translateY(85%) rotate(90deg);
  transform-origin: bottom right; }
  @media (min-width: 768px) {
    .copyrite {
      transform: none;
      bottom: 0px;
      right: 0px;
      font-size: 14px;
      padding: 16px 30px; } }
  @media (min-width: 1280px) {
    .copyrite {
      padding: 16px 40px; } }
  @media (min-width: 1440px) {
    .copyrite {
      padding: 16px 40px; } }
  @media (min-width: 1600px) {
    .copyrite {
      padding: 16px 40px; } }

.mobile-menu {
  display: none;
  position: fixed;
  top: 0px;
  background: #ef4f53;
  width: 100%;
  height: 100%; }
  @media (min-width: 768px) {
    .mobile-menu {
      display: none; } }
  .mobile-menu .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%; }
    .mobile-menu .menu ul {
      margin: 0;
      padding: 0;
      font-family: "Replica-Bold", sans-serif !important;
      font-size: 52px;
      font-weight: 500;
      color: #fff;
      list-style: none; }
      .mobile-menu .menu ul li {
        margin: 80px 0;
        text-align: center;
        cursor: pointer; }
    .mobile-menu .menu ul li::before {
      display: none; }

.header {
  display: flex;
  justify-content: center;
  position: relative;
  /*background: $light-grey;*/
  background: url(../img/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw; }
  .header .case-study {
    position: relative;
    width: 100%;
    padding: 96px 20px 56px;
    color: #fff; }
    @media (min-width: 768px) {
      .header .case-study {
        width: 100%;
        padding: 184px 32px 72px; } }
    @media (min-width: 1280px) {
      .header .case-study {
        width: 792px;
        padding: 184px 0 128px; } }
    @media (min-width: 1440px) {
      .header .case-study {
        width: 900px;
        padding: 192px 0 136px; } }
    @media (min-width: 1600px) {
      .header .case-study {
        width: 910px;
        padding: 232px 0 160px; } }
    .header .case-study p {
      font-size: 14px;
      line-height: 21px;
      padding: 20px 0 24px; }
      @media (min-width: 768px) {
        .header .case-study p {
          font-size: 18px;
          line-height: 36px;
          padding: 32px 0 40px; } }
      @media (min-width: 1280px) {
        .header .case-study p {
          font-size: 18px;
          line-height: 36px;
          padding: 32px 0 40px; } }
      @media (min-width: 1440px) {
        .header .case-study p {
          font-size: 21px;
          line-height: 36px;
          padding: 32px 0 48px; } }
      @media (min-width: 1600px) {
        .header .case-study p {
          font-size: 24px;
          line-height: 36px;
          padding: 48px 0 56px; } }
    .header .case-study .work-spec {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 32px;
      font-size: 14px;
      line-height: 21px; }
      @media (min-width: 768px) {
        .header .case-study .work-spec {
          line-height: 40px;
          padding-top: 48px; } }
      @media (min-width: 1440px) {
        .header .case-study .work-spec {
          font-size: 18px;
          padding-top: 56px; } }
      @media (min-width: 768px) {
        .header .case-study .work-spec {
          flex-direction: row; } }
      .header .case-study .work-spec #workType {
        position: relative;
        background: #FFEA01;
        width: 83px;
        padding: 6px;
        color: #000;
        font-weight: 700; }
        @media (min-width: 768px) {
          .header .case-study .work-spec #workType {
            padding: 0px 6px; } }
        @media (min-width: 1440px) {
          .header .case-study .work-spec #workType {
            width: 104px; } }
      .header .case-study .work-spec .mdash {
        position: relative;
        display: none; }
        @media (min-width: 768px) {
          .header .case-study .work-spec .mdash {
            display: block;
            padding: 0 8px; } }
        @media (min-width: 1600px) {
          .header .case-study .work-spec .mdash {
            padding: 0 12px; } }
      .header .case-study .work-spec #workSpec {
        padding-top: 8px; }
        @media (min-width: 768px) {
          .header .case-study .work-spec #workSpec {
            padding-top: 0px; } }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 48px 20px 0; }
  @media (min-width: 768px) {
    .container {
      padding: 80px 32px 0; } }
  @media (min-width: 1280px) {
    .container {
      padding: 96px 0 0 0; } }
  @media (min-width: 1600px) {
    .container {
      padding: 88px 0 0 0; } }
  .container .c-standard {
    position: relative;
    width: 100%;
    padding: 0 0 40px; }
    @media (min-width: 768px) {
      .container .c-standard {
        padding: 0 0 88px; } }
    @media (min-width: 1280px) {
      .container .c-standard {
        width: 590px;
        padding: 0 0 96px 0; } }
    @media (min-width: 1440px) {
      .container .c-standard {
        width: 670px; } }
    @media (min-width: 1600px) {
      .container .c-standard {
        width: 620px; } }
  .container .c-split {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%; }
    @media (min-width: 768px) {
      .container .c-split {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 348px; } }
    @media (min-width: 1280px) {
      .container .c-split {
        width: 794px;
        height: 386px; } }
    @media (min-width: 1440px) {
      .container .c-split {
        width: 900px;
        height: 440px; } }
    @media (min-width: 1600px) {
      .container .c-split {
        width: 910px;
        height: 446px; } }
    .container .c-split .c-split-content {
      position: relative;
      width: 100%;
      padding-bottom: 40px; }
      @media (min-width: 768px) {
        .container .c-split .c-split-content {
          width: 46%;
          padding-bottom: 0px; } }
    .container .c-split .c-split-img {
      position: relative;
      width: 100%;
      height: 280px;
      background: #E1E8EE; }
      @media (min-width: 768px) {
        .container .c-split .c-split-img {
          width: 49%;
          height: 348px; } }
      @media (min-width: 1280px) {
        .container .c-split .c-split-img {
          height: 386px; } }
      @media (min-width: 1440px) {
        .container .c-split .c-split-img {
          height: 440px; } }
      @media (min-width: 1600px) {
        .container .c-split .c-split-img {
          height: 446px; } }
  .container .c-img-split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%; }
    @media (min-width: 1280px) {
      .container .c-img-split {
        width: 794px; } }
    @media (min-width: 1440px) {
      .container .c-img-split {
        width: 900px; } }
    @media (min-width: 1600px) {
      .container .c-img-split {
        width: 910px; } }
    .container .c-img-split .c-img {
      position: relative;
      width: 47.8%;
      height: 188px;
      background: #E1E8EE; }
      @media (min-width: 768px) {
        .container .c-img-split .c-img {
          height: 414px; } }
      @media (min-width: 1280px) {
        .container .c-img-split .c-img {
          height: 468px; } }
      @media (min-width: 1440px) {
        .container .c-img-split .c-img {
          height: 506px; } }
      @media (min-width: 1600px) {
        .container .c-img-split .c-img {
          height: 536px; } }
  .container .img {
    position: relative;
    overflow: hidden;
    background: #E1E8EE;
    width: 100%;
    height: 188px; }
    @media (min-width: 768px) {
      .container .img {
        width: 100%;
        height: 396px; } }
    @media (min-width: 1280px) {
      .container .img {
        width: 794px;
        height: 447px; } }
    @media (min-width: 1440px) {
      .container .img {
        width: 900px;
        height: 506px; } }
    @media (min-width: 1600px) {
      .container .img {
        width: 910px;
        height: 512px; } }
  .container .img-full-w {
    position: relative;
    overflow: hidden;
    background: #E1E8EE;
    width: 112%;
    height: 210px; }
    @media (min-width: 768px) {
      .container .img-full-w {
        width: 100%;
        height: 396px; } }
    @media (min-width: 1280px) {
      .container .img-full-w {
        width: 794px;
        height: 447px; } }
    @media (min-width: 1440px) {
      .container .img-full-w {
        width: 900px;
        height: 506px; } }
    @media (min-width: 1600px) {
      .container .img-full-w {
        width: 910px;
        height: 512px; } }
  .container .img-plus-mobile-height {
    height: 280px; }
    @media (min-width: 768px) {
      .container .img-plus-mobile-height {
        width: 100%;
        height: 396px; } }
    @media (min-width: 1280px) {
      .container .img-plus-mobile-height {
        width: 794px;
        height: 447px; } }
    @media (min-width: 1440px) {
      .container .img-plus-mobile-height {
        width: 900px;
        height: 506px; } }
    @media (min-width: 1600px) {
      .container .img-plus-mobile-height {
        width: 910px;
        height: 512px; } }
  .container .caption {
    position: relative;
    width: 100%; }
    @media (min-width: 768px) {
      .container .caption {
        width: 100%; } }
    @media (min-width: 1280px) {
      .container .caption {
        width: 794px; } }
    @media (min-width: 1440px) {
      .container .caption {
        width: 900px; } }
    @media (min-width: 1600px) {
      .container .caption {
        width: 910px; } }
  .container .caption-full-w {
    position: relative;
    width: 112%; }
    @media (min-width: 768px) {
      .container .caption-full-w {
        width: 100%; } }
    @media (min-width: 1280px) {
      .container .caption-full-w {
        width: 794px; } }
    @media (min-width: 1440px) {
      .container .caption-full-w {
        width: 900px; } }
    @media (min-width: 1600px) {
      .container .caption-full-w {
        width: 910px; } }
    .container .caption-full-w .caption-copy {
      padding-left: 8px;
      padding-right: 8px; }
      @media (min-width: 768px) {
        .container .caption-full-w .caption-copy {
          padding-left: 0px;
          padding-right: 0px; } }
  .container .caption-copy {
    position: relative;
    width: 100%;
    font-size: 12px;
    color: #FF5252;
    padding-top: 12px;
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .container .caption-copy {
        width: 72%;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 96px;
        line-height: 24px; } }
  .container .spacer {
    position: relative;
    height: 40px; }
    @media (min-width: 768px) {
      .container .spacer {
        height: 96px; } }
  .container .spacer-small {
    position: relative;
    height: 0px; }
    @media (min-width: 768px) {
      .container .spacer-small {
        height: 8px; } }
  .container .img-list {
    position: relative;
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .container .img-list {
        padding-bottom: 96px; } }
    .container .img-list ul {
      display: flex;
      height: 188px;
      margin: 0;
      padding: 0px; }
      @media (min-width: 768px) {
        .container .img-list ul {
          height: 414px; } }
      @media (min-width: 1280px) {
        .container .img-list ul {
          height: 468px; } }
      @media (min-width: 1440px) {
        .container .img-list ul {
          height: 506px; } }
      @media (min-width: 1600px) {
        .container .img-list ul {
          height: 536px; } }
      .container .img-list ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #E1E8EE;
        width: 157px;
        height: 188px;
        list-style: none;
        float: left;
        margin: 0 10px;
        border-radius: 0px;
        box-shadow: 0 16px 8px -12px rgba(0, 0, 0, 0); }
        @media (min-width: 768px) {
          .container .img-list ul li {
            width: 345px;
            height: 414px;
            margin: 0 10px; } }
        @media (min-width: 1280px) {
          .container .img-list ul li {
            width: 378px;
            height: 468px;
            margin: 0 28px; } }
        @media (min-width: 1440px) {
          .container .img-list ul li {
            width: 422px;
            height: 506px;
            margin: 0 28px; } }
        @media (min-width: 1600px) {
          .container .img-list ul li {
            width: 428px;
            height: 536px; } }
      .container .img-list ul li::before {
        display: none; }
  .container .mobile-order1 {
    order: 1; }
    @media (min-width: 768px) {
      .container .mobile-order1 {
        order: 0; } }
  .container .mobile-display-none {
    display: none !important; }
    @media (min-width: 1280px) {
      .container .mobile-display-none {
        display: block !important; } }
  .container .p-tp {
    padding-top: 16px; }
    @media (min-width: 768px) {
      .container .p-tp {
        padding-top: 24px; } }
    @media (min-width: 1440px) {
      .container .p-tp {
        padding-top: 32px; } }
  .container .img-progress {
    background: url(../img/progress.jpg) no-repeat;
    background-size: cover;
    background-position: center top; }
  .container .setf-screenshot, .container .setf-sketch, .container .setf-sketch-nav {
    position: absolute; }
  .container .challenge-list-1 {
    background: url(../img/challenge-img-list-1.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .challenge-list-2 {
    background: url(../img/challenge-img-list-2.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .challenge-list-3 {
    background: url(../img/challenge-img-list-3.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .challenge-list-4 {
    background: url(../img/challenge-img-list-4.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .img-global-themes {
    background: url(../img/global-themes.jpg) no-repeat !important;
    background-size: contain !important;
    background-position: center top !important; }
    @media (min-width: 768px) {
      .container .img-global-themes {
        border: none;
        background-size: cover !important; } }
  .container .img-solution {
    background: url(../img/solution-saskia.jpg) no-repeat;
    background-size: cover;
    background-position: center center; }
  .container .img-solution-w-1 {
    background: url(../img/solution-wireframe1.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .img-solution-w-2 {
    background: url(../img/solution-wireframe2.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .img-results-homepage {
    background: url(../img/results-homepage.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .img-results-register {
    background: url(../img/results-register.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .img-results-vehicle-detail {
    background: url(../img/results-vehicle.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .img-results-help-center {
    background: url(../img/results-help.jpg) no-repeat !important;
    background-size: cover !important;
    background-position: center top !important; }
  .container .img-effect {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16); }

.work-with-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f1f1ef;
  width: 100vw;
  height: 248px; }
  @media (min-width: 768px) {
    .work-with-us {
      height: 280px; } }
  .work-with-us .btn {
    position: relative;
    background: transparent;
    background: url(../img/arrow-btn-contact.svg) no-repeat;
    background-size: .5em;
    background-position: 98% 10%;
    width: 192px;
    margin-top: 80px;
    border: 4px solid #444;
    padding: 13px 0;
    color: #444;
    text-align: center;
    font-weight: 700;
    letter-spacing: .5px;
    cursor: pointer; }
  .work-with-us .p-tp {
    padding-top: 16px; }
    @media (min-width: 768px) {
      .work-with-us .p-tp {
        padding-top: 24px; } }
    @media (min-width: 1440px) {
      .work-with-us .p-tp {
        padding-top: 32px; } }
